{
  "extends": "airbnb-base",
  "rules": {
    "no-console": "off",
    "semi": "off",
    "comma-dangle": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "arrow-parens": "off",
    "class-methods-use-this": "off",
    "arrow-body-style":  "off"
  }
}